<!DOCTYPE html>
<html>

<head>
    <title>YouTube Video Downloader</title>
</head>

<body>
    <h1>YouTube Video Downloader</h1>
    <input type="text" id="videoUrl" placeholder="Enter YouTube Video URL">
    <button id="downloadButton">Download Video</button>

    <div id="downloadLinks" style="display: none;">
        <p>Download Links:</p>
        <a id="downloadLink" href="#" download>Download Video</a>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const videoUrlInput = document.getElementById('videoUrl');
            const downloadButton = document.getElementById('downloadButton');
            const downloadLinksDiv = document.getElementById('downloadLinks');
            const downloadLink = document.getElementById('downloadLink');

            downloadButton.addEventListener('click', function () {
                const videoUrl = videoUrlInput.value;
                if (videoUrl) {
                    downloadYouTubeVideo(videoUrl);
                }
            });

            function downloadYouTubeVideo(videoUrl) {
                fetch(`/download?videoUrl=${videoUrl}`)
                    .then(response => response.json())
                    .then(data => {
                        console.log('====>',data);
                        if (data.downloadLink) {
                            downloadLinksDiv.style.display = 'block';
                            downloadLink.href = data.downloadLink;
                        } else {
                            alert('Error downloading the video.');
                        }
                    });
            }
        });

    </script>
</body>

</html>